{% extends 'base.html' %}

{% block content %}

<div class="container col-lg-5 mx-auto">
    <div class="m-4 p-4">
        <h1>Login to your account</h1>
        <form class="mt-5" action="/login" method="post">
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {% endif %}
            <div class="mb-3">
                <label for="InputEmail1" class="form-label">Email address</label>
                <input required type="email" class="form-control" name="email" value="{{values.email}}"
                       placeholder="example@email.com"
                       id="InputEmail1">
            </div>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">Password</label>
                <input required type="password" name="password" class="form-control" placeholder="******"
                       id="InputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
        </form>
    </div>
</div>

{% endblock %}